<div class="card">
    <button class="btn btn-outline-dark mb-2 mt-2"(click)="changeComponent('A')">A</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('B')">B</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('C')">C</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('D')">D</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('E')">E</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('F')">F</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('G')">G</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('H')">H</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('I')">I</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('J')">J</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('K')">K</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('L')">L</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('M')">M</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('N')">N</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('O')">O</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('P')">P</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('Q')">Q</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('R')">R</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('S')">s</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('T')">T</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('U')">U</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('W')">W</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('V')">V</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('X')">X</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('Y')">Y</button>
    <button class="btn btn-outline-dark mb-2 mt-2" (click)="changeComponent('Z')">Z</button>
</div>
